<div class="todos">
  <form (submit)="createTask()" ngNativeValidate>
    <input type="text" name="inputTodo" placeholder="Digite sua tarefa aqui" class="todo-input" [(ngModel)]="inputTodo"
      required />

    <button type="submit" class="todo-submit"> Adicionar tarefa </button>
  </form>
  <div class="listTodo">
    <div *ngFor="let todo of todos; let i = index" class="todo {{ todo.completed ? 'done' : '' }}">
      <div class="id">{{ i }}</div>
      <div class="content" (click)="taskDone(i)">{{ todo.content }}</div>
      <button class="delete" (click)="deleteTask(i)">Remover</button>
    </div>
  </div>
</div>
