form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.todo-input {
  display: block;
  width: 50vw;
  padding: 10px 15px;
  appearance: none;
  border: none;
  background-color: #c4c4c4;
  margin-top: 15px;
  font-size: 20px;
  outline: none;
}

.todo-submit {
  display: block;
  width: 100%;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: #5b21b6;
  color: #fff;
  margin: 15px auto;

  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.listTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.todo {
  display: flex;
  padding: 10px 15px;
  background-color: #c4c4c4;
  border-bottom: 1px solid #ddd;
  width: 80vw;
  margin-bottom: 10px;
}

.todo:nth-child(even) {
  background-color: #c4c4c4;
}

.todo:last-of-type {
  border-bottom: 0;
}

.todo .id {
  flex: 1 1 50px;
  background-color: #c4c4c4;
}

.todo .content {
  flex: 1 1 100%;
  background-color: #c4c4c4;
}

.todo.done .content {
  text-decoration: line-through;
}
.todo .delete {
  background-color: #5b21b6;
  border: none;
  cursor: pointer;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
